{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MY CRUD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout/">Logout</a>
      </li>
        {% if user.is_authenticated %}
      <li class="form-inline my-2 my-lg-0 nav-item">
        <a class="nav-link"><strong>Logged in as: {{user}}</strong></a>
      </li>
        {% else %}
      <li class="nav-item">
        <a href="login/" class="nav-link">Please Login</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
